.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

p{
  padding: 20px;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  display: block;
  text-align: left;
}

body{
  color: white;
}

.red-button{
  background-color: red;
  color: white;
  text-align: right;
  margin: auto;
  display: flex;
}